{% extends 'base.html' %}
{% set active_module = 'main' %}
{% set page_title = 'Home' %}

{% block content %}
        <!--begin::App Main-->
        <main class="app-main">
            <!--begin::App Content Header-->
            <div class="app-content-header">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">{{ page_title }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#"><i class="bi bi-home"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ page_title }}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::row-->
                    <div class="row">
                        <!--begin::column-->
                        <div class="col-md-12">
                            <!--begin::card-->
                            <div class="card card-secondary card-outline mb-4">
                                <!--begin::card-header-->
                                <div class="card-header">
                                    <h3 class="card-title">{{ page_title }}</h3>
                                </div>
                                <!--end::card-header-->
                                <!--begin::card-body-->
                                <div class="card-body">
                                    {% include 'modules/main/tabs/tabs-toolbox.html' %}
                                </div>
                                <!--end::card-body-->
                                <!--begin::card-footer-->
                                <div class="card-footer clearfix"></div>
                                <!--end::card-footer-->
                            </div>
                            <!--end::card-->
                        </div>
                        <!--end::column-->
                    </div>
                    <!--end::row-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content-->
        </main>
        <!--end::App Main-->
{% endblock %}
{% block custom_javascript_bottom %}
<script>
    $('.tabular.menu .item').tab();
    $('.toggle.checkbox').checkbox('attach events', '.toggle.button');
    $('.btn-group').on('click', '.btn', function() {$(this).addClass('active').siblings().removeClass('active');});
    $('.ui.selection .ui.dropdown').dropdown();
    $('.ui.search ').dropdown();
    $('.ui.fluid').dropdown();
</script>
{% endblock %}