<!--begin::tabs-->
<div class="ui top attached tabular menu">
    <div class="active item" data-tab="tab.one">Tab One</div>
    <div class="item" data-tab="tab.two">Tab Two</div>
</div>
<div class="ui bottom attached active tab segment" data-tab="tab.one">
    <div class="col-12">
    {% include 'modules/pages/forms/test.html' %}
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="tab.two">
    <div class="col-12">
    {% include 'modules/pages/forms/test.html' %}
    </div>
</div>
<!--end::tabs-->
<!--begin::div_spacer for tabs-->
<div class="clearfix"></div>
<!--end::div_spacer for tabs-->
