{% set top_navbar = [
    ('/',                       'main',                 'Home',                 'bi-house-door'),
    ('/dashboard',              'dashboard',            'Dashboard',            'bi-speedometer'),
    ('/pages',                  'pages',                'Static Pages',         'bi-file-earmark-code'),
    ('/reports',                'reports',              'Reports',              'bi-bar-chart'),
    ('/settings',               'settings',             'Settings',             'bi-gear'),
] -%}
        <!--begin::Header-->
        <nav class="app-header navbar navbar-expand bg-body">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::navbar-links (left)-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                            <i class="bi bi-list"></i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
<!--                        <a href="/" class="nav-link">Home</a>-->
                    </li>
                </ul>
                <!--end::navbar-links (left)-->
                <!--begin::navbar-links (right)-->
                <ul class="navbar-nav ms-auto">
                    {# include 'layout/partials/navbar/navbar-search.html' #}
                    {% include 'layout/partials/navbar/fullscreen-toggle.html' %}
                    {# include 'layout/partials/navbar/user-menu-dropdown.html' #}
                </ul>
                <!--end::navbar-links (right)-->
            </div>
            <!--end::Container-->
        </nav>
        <!--end::Header-->