<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ APP_NAME }}</title>
    <!--begin::Primary Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{% block title %} {% endblock %}">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--end::Primary Meta Tags-->
    {% include 'layout/meta/fonts.html' %}
    {% include 'layout/meta/overlayscrollbars.html' %}
    {% include 'layout/meta/bootstrap.html' %}
    {% include 'layout/meta/bootstrap-icons.html' %}
    {% include 'layout/meta/adminlte.html' %}
    {% include 'layout/meta/jquery.html' %}
    {% include 'layout/meta/semantic.html' %}
    <!--begin::Third Party Plugins-->
    {% if load_apexcharts == 'true' %}{% include 'layout/meta/apexcharts.html' %}{% endif %}
    {% if load_calendar == 'true' %}{% include 'layout/meta/calendar.html' %}{% endif %}
    {% if load_simplemde == 'true' %}{% include 'layout/meta/simplemde.html' %}{% endif %}
    {% if load_ckeditor == 'true' %}{% include 'layout/meta/ckeditor.html' %}{% endif %}
    <!--end::Third Party Plugins-->
    {% block custom_meta %}{% endblock %}
    {% block custom_style %}{% endblock %}
    {% block custom_javascript %}{% endblock %}