<!--begin::Required Javascript Libraries-->
    <!--begin::Library_JS-->
    <script src="/static/js/library/detect.min.js"></script>
    <script src="/static/js/library/clipboard.min.js"></script>
    <script src="/static/js/library/cookie.min.js"></script>
    <script src="/static/js/library/easing.min.js"></script>
    <script src="/static/js/library/highlight.min.js"></script>
    <script src="/static/js/library/history.min.js"></script>
    <script src="/static/js/library/state.js"></script>
    <script src="/static/js/library/tablesort.min.js"></script>
    <script src="/static/js/library/underscore-udm-min.js"></script>
    <!--end::Library_JS-->
    <!--end:Required Javascript Libraries-->